{{define "main" }}
<html>
<head>
     <meta charset="UTF-8">
     {{ $gggg := .Title }}
     <title>夏時紀錄 -{{ $gggg }}</title>
</head>
    <body>
        <div style="width: 80%; max-width: 750px; margin: 4rem auto;">
            {{ partial "home_title" (dict "title" .Title) }}
            <br>
            <div style="color:grey; font-size:16px;">日期: {{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
            <div style="color:grey; font-size:16px;">{{if .Params.author}} 作者: {{.Params.Author}}{{end}}</div>
            <hr><br>
            <div>{{.Content}}</div>
        </div>
<!-- hitwebcounter Code START -->
             {{if eq .Title `網頁日誌` }}
             <div style="width: 80%; max-width: 750px; margin: 4rem auto;">
              <h1>目前累計訪客總數:</h1>

               <a href="https://www.hitwebcounter.com" target="_blank">
                 <img src="https://hitwebcounter.com/counter/counter.php?page=7817161&style=0008&nbdigits=3&type=ip&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>
             </div>
             {{end}}
<!-- hitwebcounter Code END -->
        <div style="width: 80%; max-width: 750px; margin: 4rem auto;">
            {{ partial "disqus.html" . }}
        </div>
    </body>
</html>
{{end}}
