<div>
  {{ $data := .Site.Data.home }}
<br><br>
<!--這邊是文章分類這邊是文章文章文章文章文章文章-->
    <section id="allcategories" class="" style="max-width: 100rem; margin-inline: auto; padding-inline: 2rem">
      <div class="md:flex justify-center">
        {{ partial "home_title" (dict "title" "所有文章") }}
      </div>
      {{if $data.aarticles.list}}
      <div
        class="mt-8 grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
      >
        {{ range $data.aarticles.list }}
        <div class="hover:bg-gray-300 hover:shadow-2xl transition duration-200 w-full rounded overflow-hidden shadow-lg">

          <div class="transform hover:scale-110 transition duration-200">
            <a href="{{ .myConnect }}">
            <img
            class="w-full h-48"
            src="{{ .image }}"
            alt="Sunset in the mountains"
            />
            </a>
            </div>

          <div class="px-6 py-4">
            <div class="hover:text-gray-600 transition duration-500 font-bold text-xl mb-2"><a href="{{ .myConnect }}">{{ .title }}</a></div>
            <p class="text-gray-700 text-base">
              {{ .text }}
            </p>
          </div>
        </div>
        {{end}}
      </div>
      {{else}}
          <div class="mt-4 text-xl text-center">Projects does not exist</div>
      {{end}}
    </section>
</div>
<br><br>
