<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/index.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/navbar.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/GridPractice.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/figmacss.css" />

<link rel="shortcut icon" href="img/favicon.ico" />
<link rel="apple-touch-icon" href="img/favicon.ico" />
<link rel="bookmark" href="img/favicon.ico"/>
<link rel="icon" href="img/favicon.ico"/>

<link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
<!--上面那一行只是快速演示Tailwind的功能-->
<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">


