<!DOCTYPE html>
<html lang="en">
    
    <section id="SectionPoem">
        <div class="Poem-Wrap">
            <div class="Poem-Card">
                <h1 id="Poem-H1">予你好文</h1>
                <p id="Poem-P">Frank前些日子參加高捷舞蹈比賽拿了冠軍，那天起，他和我說他的下一步，是拿到台灣區世界賽的資格。
                    他在小祈底下訓練打藝舞蹈好些日子了，日日夜夜的訓練，現在已是小祈底下最強的學徒。小祈是曾經的打藝舞世界冠軍，他很賞識Frank那種把舞蹈的藝術性凌駕於技術性之上的精神。  
                    我不認識小祈，對他的印象只停留在他常常說的那句話:「這不是場表演，這是戰鬥。但不要管輸贏，重要的是享受過程」。  
                    ...繼續閱讀</p>
            </div>
        </div>     
    </section>
</html>
