<!DOCTYPE html>
<html lang="en">
    <section id="GeneralArticlesSection">
        <span id="SectionTitle2">夏時致知</span>
        <span id="SectionSeeAll">See all</span>
        <div id="SectionDescription">好多學弟妹問我該如何準備考試。   所以在這邊分享我的升學之路!</div>
        <!-- <div id="AllCateOverflow">
            <div id="CateBtn"><a>All</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
        </div> -->
        <div id="ContentCardOverflow">
            {{ range where .Site.RegularPages ".Params.categories" "intersect" (slice "升學") }}
                <div class="hover:shadow-2xl transition duration-200 shadow-lg" id="ContentCard-container">      
                    <!-- <div id="ContentCard-stroke"></div> -->
                    <div id="ContentCard-imgoverflow">
                        <a href="{{.Permalink}}"><img class="transform hover:scale-110 transition duration-200" id="ContentCard-img" src="{{.Params.image}}" loading="lazy"></a>
                    </div>
                    <div id="ContentCard-tagoverflow" style="display: flex;justify-content: flex-end;align-items: center;">
                        <div id="ContentCard-tag">{{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>
                    </div>
                    <div id="ContentCard-title"><a href="{{.Permalink}}">{{ .Title }}</a></div>
                    <div id="ContentCard-textoverflow"><p>{{ truncate 200 .Summary}}</p></div>
                </div>
            {{end}}
        </div>
    </section>

</html>
