<!DOCTYPE html>
<html lang="en">
    <script src="/js/choose.js"></script> <!-- 添加js -->
    <section id="AllArticlesSection">
        <span id="SectionTitle2">夏時手札</span>
        <span id="SectionSeeAll"><a href="{{ .Site.BaseURL }}categories/手札">See all</a></span>
        <div id="SectionDescription">這邊是Tony x Frank 共同所寫的手札，分享各式各樣的故事!  給喜歡探索和發現的你!</div>
        <div id="AllCateOverflow">
            <div id="CateBtn" onclick="toggleAll(this)"><a>All</a></div>
            {{ $allTags := slice }}
            {{ range .Site.RegularPages }}
                {{ range (.GetTerms "tags") }}
                {{ $allTags = $allTags | append (dict "LinkTitle" .LinkTitle "Permalink" .Permalink) }}
                {{ end }}
                <!-- {{ if .Truncated }}
                <p><a href="{{ .RelPermalink }}">Continue reading...</a></p>
                {{ end }} -->
            {{ end }}
            {{ range uniq $allTags }}
            <div class="CateBtn2"  onclick="toggleColor(this)"><a>{{ .LinkTitle }}</a></div> <!-- href="{{ .Permalink }}" -->
            {{ end }}
        </div>
        <div id="ContentCardOverflow">
            {{ range .Site.RegularPages }}
            <div class="{{ range .Params.tags }}{{ . }} {{end}}hover:shadow-2xl transition duration-200 shadow-lg" id="ContentCard-container"> 
                    <!-- <div id="ContentCard-stroke"></div> -->
                    <div id="ContentCard-imgoverflow">
                        <a href="{{.Permalink}}"><img class="transform hover:scale-110 transition duration-200" id="ContentCard-img" src="{{.Params.image}}" loading="lazy"></a>
                    </div>
                    <div id="ContentCard-tagoverflow" style="display: flex;justify-content: flex-end;align-items: center;">
                        {{range .Params.tags}}
                        <div id="ContentCard-tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </div>
                        {{end}}
                    </div>
                    <div id="ContentCard-title"><a href="{{.Permalink}}">{{ .Title }}</a></div>
                    <!-- <div id="ContentCard-textoverflow"><p>{{ truncate 200 .Summary}}</p></div> -->
                    <div id="ContentCard-textoverflow"><p>
                        {{ $summary := .Summary | plainify | truncate 200 }} 
                        {{ $content := replaceRE "(?s)<img[^>]*>(.*)" "" $summary }} 
                        {{ $content }}
                    </p></div>
            </div>
            {{end}}
        </div>
    </section>

</html>
