<!DOCTYPE html>
<html lang="en">
    {{ $data := .Site.Data.home }}
    <section id="ProjectsSection">
        <div id="ProjectsOverflow">
            {{ range $data.project.list }}
            <div id="projects-content-cards">
                <div id="projects-content-card-img-groups"><a href="{{ .myConnect }}">
                    <div id="projects-content-card-img-hover"></div>
                    <img id="projects-content-card-img" src="{{ .image }}"/>
                </a></div>
                <div id="projects-content-card-btn"><a href="{{ .myConnect }}">繼續閱讀 ></a></div>
                <div id="projects-content-card-title"><a href="{{ .myConnect }}">{{ .title }}</a></div>
            </div>
            {{end}}   
        </div>
        <span id="SectionTitle">活動計畫</span>
        <span id="SectionSeeAll">See all</span>
        
    </section>
    
</html>
