<!DOCTYPE html>
<html lang="en">
    <section id="AllArticlesSection">
        <span id="SectionTitle2">夏時手札</span>
        <span id="SectionSeeAll">See all</span>
        <div id="SectionDescription">這邊是Tony x Frank 共同所寫的手札，分享各式各樣的故事!  給喜歡探索和發現的你!</div>
        <div id="AllCateOverflow">
            <div id="CateBtn"><a>All</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
            <div id="CateBtn2"><a>心得</a></div>
        </div>
        <div id="ContentCardOverflow">
            {{ range .Site.RegularPages }}
            <div class="hover:shadow-2xl transition duration-200 shadow-lg" id="ContentCard-container">
                
                    <!-- <div id="ContentCard-stroke"></div> -->
                    <div id="ContentCard-imgoverflow">
                        <a href="{{.Permalink}}"><img class="transform hover:scale-110 transition duration-200" id="ContentCard-img" src="{{.Params.image}}"/></a>
                    </div>
                    <div id="ContentCard-tag">{{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>
                    <div id="ContentCard-title"><a href="{{.Permalink}}">{{ .Title }}</a></div>
                    <div id="ContentCard-textoverflow"><p>{{ truncate 200 .Summary}}</p></div>
               
            </div>
            {{end}}
        </div>
    </section>

</html>
