<!DOCTYPE html>
<html lang="en">
    <section id="GeneralArticlesSection">
        <span id="SectionTitle2">夏時碎片</span>
        <span id="SectionSeeAll">See all</span>
        <div id="SectionDescription">這一部分的文章，可能是流星的碎片剝落而成。   或許不久就會被刪掉或是被歸類?!</div>
        <div id="ContentCardOverflow">
            {{ range where .Site.RegularPages ".Params.categories" "intersect" (slice "其他") }}
                <div class="hover:shadow-2xl transition duration-200 shadow-lg" id="ContentCard-container">      
                    <!-- <div id="ContentCard-stroke"></div> -->
                    <div id="ContentCard-imgoverflow">
                        <a href="{{.Permalink}}"><img class="transform hover:scale-110 transition duration-200" id="ContentCard-img" src="{{.Params.image}}" loading="lazy"></a>
                    </div>
                    <div id="ContentCard-tagoverflow" style="display: flex;justify-content: flex-end;align-items: center;">
                        <div id="ContentCard-tag">{{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>
                    </div>
                    <div id="ContentCard-title"><a href="{{.Permalink}}">{{ .Title }}</a></div>
                    <div id="ContentCard-textoverflow"><p>{{ truncate 200 .Summary}}</p></div>
                </div>
            {{end}}
        </div>
    </section>

</html>
