<!DOCTYPE html>
<html lang="en">

<body>
    <section id="ProjectsSection">
        <div id="ProjectsOverflow">
            <div id="projects-content-cards">
                <div id="projects-content-card-img-groups">
                    <div id="projects-content-card-img-hover"></div>
                    <img id="projects-content-card-img" src="/img/DM-home5.jpg"/>
                </div>>
                <div id="projects-content-card-btn"><a href="">繼續閱讀</a></div>
                <div id="projects-content-card-title">城中城災害整合平台</div>
            </div>
            <div id="projects-content-cards">
                <div id="projects-content-card-btn"><a href="">繼續閱讀</a></div>
                <div id="projects-content-card-title">城中城災害整合平台</div>
                <div id="projects-content-card-img-groups">
                    <div id="projects-content-card-img-hover"></div>
                    <img id="projects-content-card-img" src="/img/DM-home5.jpg"/>
                </div>>
            </div>
        </div>
        <span id="SectionTitle">活動專區</span>
        <span id="SectionSeeAll">See all</span>
    </section>
</body>
</html>
